DB_URL="sqlite:///game_data.db"
HOSTNAME="localhost"
SECRET_KEY=
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_NAME="49ja Analytics"
MAILTRAP_TOKEN=                 # set to use mailtrap for email
MAILTRAP_USE_SANDBOX="true"       # true/false toggle
MAILTRAP_INBOX_ID=
